<div class="jumbotron jumbotron-fluid jumbotron-animate transparent mb-0" style="height: 90vh">
	<div class="row h-100">
		<div class="col my-auto">
			<h1 class="font-weight-bold text-center">Welcome {{loggedIn.dataValues.username}}</h1>
		</div>
	</div>
</div>

{{#each Posts}}
<div class="container-fluid p-4 mb-2 transparent-black shadow-lg" style="background-color: white;">
	<div class="row">
		<div class="col-sm-12 col-md-10">
			<h4 data-toggle="modal" data-target="#post{{dataValues.id}}">{{dataValues.title}}</h4>
			<hr>
			<div class="row">
				<div class="col">
					{{#if dataValues.body}}
					{{#toHtml dataValues.body}}{{/toHtml}}
					{{/if}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr>
					<p>
						<b>{{dataValues.User.dataValues.username}}</b>
						@ {{dataValues.createdAt}}</p>
				</div>
			</div>
		</div>
		<div class="col-2 d-none d-md-block">
			<div style="height: 100%;">
				<img class="card-img-top profile" src={{dataValues.User.dataValues.img}} alt="Card image cap">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="post{{dataValues.id}}" data-backdrop="static" tabindex="-1" role="dialog"
	aria-labelledby="staticBackdropLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" data-post-id="{{dataValues.id}}" id="staticBackdropLabel">{{dataValues.title}}
				</h5>
				{{!-- if current logged in user id matches post id in like table --}}
				{{#if dataValues.isLiked}}
				<i class="fas fa-heart ml-auto my-auto h-100"></i>
				{{else}}
				<i class="far fa-heart ml-auto my-auto h-100"></i>
				{{/if}}
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>{{dataValues.User.dataValues.username}}:</p>
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							{{#if dataValues}}
							{{#toHtml dataValues.body}}{{/toHtml}}
							{{/if}}
						</div>
					</div>
				</div>
				<hr>
				{{#each dataValues.Comments}}
				<div class="container">
					<div class="row">
						<div class="col">
							<p>{{dataValues.User.dataValues.username}}:</p>
							<p>{{dataValues.body}}</p>
						</div>
					</div>
				</div>
				<hr>
				{{/each}}

			</div>
			<div class="modal-footer">
				<form class="w-100" action="/api/comment/one" method="post">
					<input style="display: none;" name="PostId" value="{{dataValues.id}}">
					<textarea name="comment" class="w-100" placeholder="Leave a comment"></textarea>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Comment</button>
				</form>
			</div>
		</div>
	</div>
</div>
{{/each}}