<div class="jumbotron jumbotron-fluid transparent-black py-2">
	<div class="container">
		<h1 class="display-4 text-center userName text-light font-weight-bold">{{User.dataValues.username}}</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-2">
			<img src="{{User.dataValues.img}}" id="profile-pic" alt="profile">
		</div>
		<div class="col-8 p-2">
			<div class="row">
				<h2>{{User.dataValues.firstName}} {{User.dataValues.lastName}}</h2>
			</div>
			<div class="row">
				<p>{{User.dataValues.bio}}</p>
			</div>
		</div>
		<div class="col-2">
			<a href="/static/user/profile/edit">
				EDIT
				<i class="fas fa-cog"></i>
			</a>
		</div>
	</div>
	<hr>
	<div class="alert alert-success text-center" role="alert">
		<h4 class="alert-heading">What's your story</h4>
		<p>Keep up the blogging work {{User.dataValues.username}}! Continue to intrigue and fascinate the community with
			your stories. So, what's next?</p>
		<hr>
		<p class="mb-0">Post Count: {{User.dataValues.Posts.length}}</p>
	</div>
	<hr>
</div>

<div id="profilePosts" class="container">
	{{#each User.dataValues.Posts}}
	<div class="alert alert-dismissible fade show" style="display: none;" role="alert">
	</div>
	<div class="row profile-post my-3 p-4 shadow-lg">
		<div class="col">
			<div>
				<h4 data-toggle="modal" data-target="#post{{dataValues.id}}">{{dataValues.title}}</h4>
			</div>
			<hr>
			<div>
				{{#if dataValues.body}}
				{{#toHtml dataValues.body}}{{/toHtml}}
				{{/if}}
			</div>
			<hr>
			<a href="/static/post/edit/{{dataValues.id}}">Edit</a> |
			<i class="fas fa-trash-alt"></i>
			<button data-post-id={{dataValues.id}} class="btn btn-danger deletePost" style="visibility: hidden;">
				Delete
			</button>
		</div>
	</div>

	<div class="modal fade" id="post{{dataValues.id}}" data-backdrop="static" tabindex="-1" role="dialog"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" data-post-id="{{dataValues.id}}" id="staticBackdropLabel">
						{{dataValues.title}}
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="container-fluid mb-4 p-2 pb-4 shadow-sm">
						<div class="row">
							<div class="col">
								{{#if dataValues.body}}
								{{#toHtml dataValues.body}}{{/toHtml}}
								{{/if}}
							</div>
						</div>
					</div>

					{{#each dataValues.Comments}}
					<div class="container">
						<div class="row">
							<div class="col">
								<p>{{dataValues.User.dataValues.username}}:</p>
								<p>{{dataValues.body}}</p>
							</div>
						</div>
					</div>
					<hr>
					{{/each}}

				</div>
				<div class="modal-footer">
					<form class="w-100 commentForm">
						<input style="display: none;" name="PostId" value="{{dataValues.id}}">
						<textarea name="comment" class="w-100" placeholder="Leave a comment"></textarea>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Comment</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
</div>