<div class="jumbotron jumbotron-fluid transparent-black">
	<div class="container">
		<h1 class="display-4 text-center userName text-light font-weight-bold">{{User.dataValues.username}}</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-3">
			<img src="{{User.dataValues.img}}" alt="profile">
		</div>
		<div class="col-9">
			<div class="row"><h2>{{User.dataValues.firstName}} {{User.dataValues.lastName}}</h2></div>
			<div class="row">
				<p>{{User.dataValues.bio}}</p>
			</div>
		</div>
	</div>
</div>